services:
  api:
    image: rafelt/ifc31c-iaw-ferriol-rafeltoni:2.0
    container_name: api
    restart: always
    expose:
      - "3000"
    networks:
      - webnet

  caddy:
    image: caddy:2
    container_name: caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - webnet

networks:
  webnet:
    driver: bridge

volumes:
  caddy_data:
  caddy_config:
